@font-face {
  font-family: "{{FONT_FAMILY}}";
  src: url("{{FONT_URL}}") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}

body {
  background-color: {{BACKGROUND_COLOR}};
  font-family: "{{FONT_FAMILY}}", sans-serif;
}
